// Your custom SCSS should be written here...

body {
	 @include font-smoothing(on);
}

header {
	position: fixed;
	left: 0;
	top: 0;
	height: 114px;
	width: 100%;
	display: inline-block;
	background: $global-bg-color;
	//@include box-shadow(0 1px 16px rgba(0,0,0,0.12));
	border-bottom: 1px solid darken($global-bg-color,6%);
	@include transition(all ease-in-out 0.3s);
	@include opacity(0.96);
	@include respond(all-phones) {
		background: $global-bg-color;
		position: static;
		height: auto;
		display: block;
	}
	& #logo {
		@include respond(all-phones) {
			text-align: center;
 			display: block;
 			margin-bottom: 20px;
		}
	}
	& .twelve {
		margin-top: 32px;
		@include transition(all ease-in-out 0.3s);
		@include respond(all-phones) {
			display: block;
			float: inherit;
			margin-bottom: 20px;
		}
	}
	& .field {
		display: inline-block;
		float: right;
		margin-top: 1px;
		@include respond(all-phones) {
			display: block;
			float: inherit;
		}
	}
}

.wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	@include respond(all-phones) {
		width: 100%;
	}
	&#install {
		text-align: center;
		margin-bottom: 50px; 
	}
	&#sub { 
		width: 1050px;
	}
	&#descr {
		text-align: center;
	}
}

#intro {
	margin-top: 113px;
	height: 545px;
	width: 100%;
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	@include respond(all-phones) {
		background: $global-bg-color;
		height: auto;
		margin-top: 0;
	}
	& #chrome {
		width: 1055px;
		height: 493px;
		background: url('../img/chrome.png') top center no-repeat;
		background-size: 1030px 543px;
		margin: 0 auto;
		@include respond(all-phones) {
			background: $global-bg-color;
			height: auto;
		}
	}
	& h1 {
		margin-top: 110px;
		font-weight: 400;
		text-align: center;
		color: $cahoots-color;
		@include respond(all-phones) {
			font-size: 2em;
			margin: 40px 0;
		}
	}
	& article {
		width: 800px;
		text-align: center;
		line-height: 1.5em;
		margin: 10px auto 0 auto;
		@include respond(all-phones) {
			display: none;
		}
		& p {
			font-size: 1.4em;
			margin-bottom: 30px;
		}
	}
}

.cahoots_test {
	background: $cahoots-highlight-color;
	padding: 5px 8px;
	font-weight: 400;
	@include border-radius(3px);
	&:before {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAOAAAADgCxW/H3AAABo0lEQVQoz43SXWjNcRzH8dfvf04pRK0tT7E1NpqHUuNCyUMpaqTWdiG52M1KEe5ELqTkVpKU5KHU5tzYBeXhhptFeVqhxFLLatZpm42dp58L5+iQp8/l9/t596nv9xPyjV2qVIsjaENzefYat3AWnyrGUAW24xLm+r3G0YUMJFVQ718gmFP2tFcS6/C2vGDmDGFDi7C4Vnz+XhwYJFf4NbkpjQMVKLQ2SQ7vFpYtJBCncuLlu0rX7lOK1cmH0tgFoXmR1Pn9pFLi2CRT00LNbPZtlRSKSj0Pyf9IbktjhVQiOdpJoajU80jpXB+5vLCyXti7RdizWbJ0vtLFOwxnYXnqRF3r8aRjYzrZuV7x5A3x+gPyRSJGxsSXg0IShE2rhfp531Nzha/psG3tUOje3hifvRNvP/n5jjEynFW6ck8YGpV07xDWNfPqw3QSWpa88DGreOzqnx/xJSf29Sud6WV0XMxOPg6FgxcajIwNxP43s/yPFtR8DmsaVlWaUylA+AcW0YFMpTkZdGLiL9BEBaquHNxEI05jAHlM4ilOlXeZivkbE0WRUzsnl8UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDYtMjdUMTU6MzE6MTQrMDI6MDD2LRwyAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA2LTI3VDE1OjMxOjE0KzAyOjAwh3CkjgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=);
		background-size: 12px 12px;
		display: inline-block;
		min-width: 14px;
		min-height: 14px;
		content: " ";
		margin-right: 0px;
	}
}

.subline {
	color: $secondary-color;
	display: block;
	text-align: center; 
	margin-top:10px;
	line-height: 1.2em;
	font-weight: 300;
	@include respond(all-phones) {
		margin-top: 0;
	}
}

.content {
	z-index: 100;
	width: 100%;
	height: auto;
	padding: 60px 0;
	@include box-shadow(0 -2px 20px rgba(0,0,0,0.2));
	&.light {
		@include background-image(linear-gradient(top, $global-bg-color 0%,darken($global-bg-color,6%) 100%));
		border-top: 1px solid darken($global-bg-color, 5%);
	}
	&.dark {
		@include background-image(linear-gradient(left top, #3e3e47 0%,#25252d 100%));
		border-top: 1px solid #25252d;
	}
}

#install_intro {
	margin-bottom: 20px;
	@include respond(all-phones) {
		margin-bottom: 12px;
	}
}

.browser {
	padding: 6px 18px 4px 13px;
	border-radius: $bigger-radius*1.5;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	@include respond(all-phones) {
		display: block;
		text-align: center;
		margin: 0 auto 8px !important;
		width: 140px;
	}
	&:hover {
		cursor: pointer;
	}
	&.chrome {
		margin-right: 15px;
		background: $chrome-browser;
		border: 1px solid lighten($chrome-browser,3%);
		border-bottom: 2px solid transparent;
		@include transition(all ease-in-out 0.125s);
		&:hover {
			background: lighten($chrome-browser,13%);
			border-top: 1px solid lighten($chrome-browser,13%);
			border-bottom: 2px solid darken($chrome-browser,8%);
		}
		&:focus {
			background: darken($chrome-browser,10%);
			border-top: 0;
			border: 1px solid darken($chrome-browser,5%);
		}
		&:before {
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/chrome_browser.svg');
			background-size: 30px 30px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			content: " ";
			margin: -2px 10px 0 0;
			vertical-align: middle;
		}
	}
	&.firefox{
		margin-right: 15px;
		background: $firefox-browser;
		border: 1px solid lighten($firefox-browser,3%);
		border-bottom: 2px solid transparent;
		@include transition(all ease-in-out 0.125s);
		&:hover {
			background: lighten($firefox-browser,10%);
			border-top: 1px solid lighten($firefox-browser,10%);
			border-bottom: 2px solid darken($firefox-browser,8%);
		}
		&:focus {
			background: darken($firefox-browser,10%);
			border-top: 0;
			border: 1px solid darken($firefox-browser,5%);
		}
		&:before {
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/firefox_browser.svg');
			background-size: 30px 30px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			content: " ";
			margin: -2px 10px 0 0;
			vertical-align: middle;
		}
	}
	&.safari{
		background: $safari-browser;
		border: 1px solid lighten($safari-browser,3%);
		border-bottom: 2px solid transparent;
		@include transition(all ease-in-out 0.125s);
		&:hover {
			background: lighten($safari-browser,10%);
			border-top: 1px solid lighten($safari-browser,10%);
			border-bottom: 2px solid darken($safari-browser,8%);
		}
		&:focus {
			background: darken($safari-browser,10%);
			border-top: 0;
			border: 1px solid darken($safari-browser,5%);
		}
		&:before {
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/safari_browser.svg');
			background-size: 30px 30px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			content: " ";
			margin: -2px 10px 0 0;
			vertical-align: middle;
		}
	}
}

.text {
	&.main {
		width: 48%;
		margin: 0 auto;
	}
}

.teaser {
	color: $global-bg-color;
	display: inline-block;
	width: 22%;
	margin-right: 3%;
	vertical-align: top;
	@include transition(all .1s ease-in-out);
	@include text-shadow(0 0 1px $primary-color);
	&:hover {
		color: #fff;
		@include text-shadow(0 0 20px rgba(0,0,0,0.6));
		& h3 {
			color: #fff;
		}
	}
	& h3 {
		font-size: 1.1em;
		font-weight: 600;
		color: darken($global-bg-color,10%);
		margin-bottom: 10px;
		@include transition(all .3s ease-in-out);
		&#suggest {
			&:before {
				background-repeat: no-repeat;
				background-position: left 50%;
				background-image: url('../img/suggest.png');
				background-size: 30px 30px;
				display: inline-block;
				min-width: 42px;
				min-height: 30px;
				content: " ";
				margin-right: 0px;
				vertical-align: middle;
				margin-top: -2px;
			}
		}
		&#github {
			&:before {
				background-repeat: no-repeat;
				background-position: left 50%;
				background-image: url('../img/github.png');
				background-size: 30px 30px;
				display: inline-block;
				min-width: 42px;
				min-height: 30px;
				content: " ";
				margin-right: 0px;
				vertical-align: middle;
				margin-top: -2px;
			}
		}
		&#forum {
			&:before {
				background-repeat: no-repeat;
				background-position: left 50%;
				background-image: url('../img/forum.png');
				background-size: 30px 30px;
				display: inline-block;
				min-width: 42px;
				min-height: 30px;
				content: " ";
				margin-right: 0px;
				vertical-align: middle;
				margin-top: -2px;
			}
		}
		&#chat {
			&:before {
				background-repeat: no-repeat;
				background-position: left 50%;
				background-image: url('../img/chat.png');
				background-size: 30px 30px;
				display: inline-block;
				min-width: 42px;
				min-height: 30px;
				content: " ";
				margin-right: 0px;
				vertical-align: middle;
				margin-top: -2px;
			}
		}
	}
}

a:last-child > .teaser {
	margin-right: 0;
}

.cahoots-proposal-form {
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important; 
	width: 85% !important;
	margin: 0 auto !important; 
	padding: 0 !important;
	text-align: left !important;
	& label {
		margin-bottom: 5px;
	}
	& small {
		color: $secondary-color;
	}
}

.cahoots-proposal-form--header-headline {
	display: none;
}

.cahoots-proposal-form--entry {
	margin-bottom: 15px;
}
.cahoots-proposal-form--header-description {
	margin-bottom: 20px;
}
.sub_text {
	width: 46%;
	margin-right: 4%;
	display: inline-block;
	&:last-child {
		margin: 0;
	}
}


// Dialog
.button-wrap {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 208px;
	float: right;
	@include respond(all-phones) {
		display: block;
		vertical-align: inherit;
		margin: 0;
		float: inherit;
	}
}
.cahoots-proposal-form--buttons input {
	padding: 9px 14px;
	border-radius: $bigger-radius*1.5;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	margin-right: 15px;
	background: $default-color;
	border: 1px solid lighten($default-color,5%);
	// &:before {
	// 	background-repeat: no-repeat;
	// 	background-position: center center;
	// 	background-image: url('../img/chrome_browser.svg');
	// 	background-size: 30px 30px;
	// 	display: inline-block;
	// 	width: 30px;
	// 	height: 30px;
	// 	background-repeat: no-repeat;
	// 	content: " ";
	// 	margin: -2px 10px 0 0;
	// 	vertical-align: middle;
	// }
	&:hover {
		cursor: pointer;
	}
}
.trigger {
	padding: 13px 18px 14px;
	border-radius: $bigger-radius*1.5;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	margin-right: 15px;
	background: $default-color;
	@include transition(all ease-in-out 0.125s);
    border: 1px solid lighten($default-color,3%);
    border-bottom: 2px solid transparent;
	@include respond(all-phones) {
		width: 92%;
		text-align: center;
		margin: 0;
	}
    &:hover {
      background: lighten($default-color,13%);
      border-top: 1px solid lighten($default-color,13%);
      border-bottom: 2px solid darken($default-color,8%);
    }
    &:focus {
      background: darken($default-color,10%);
      border-top: 0;
      border: 1px solid darken($default-color,5%);
    }
}

.action {
	padding: 8px 12px;
	border-radius: $bigger-radius*1.5;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	margin: -37px 7.5% 0 0;
	float: right;
	background: $cahoots-color;
	border: 1px solid lighten($cahoots-color,5%);
	@include transition(all ease-in-out 0.125s);
    border: 1px solid lighten($cahoots-color,3%);
    border-bottom: 2px solid transparent;
	@include respond(all-phones) {
		width: 92%;
		text-align: center;
		margin: 0;
	}
    &:hover {
    	cursor: pointer;
		background: lighten($cahoots-color,13%);
		border-top: 1px solid lighten($cahoots-color,13%);
		border-bottom: 2px solid darken($cahoots-color,8%);
    }
    &:focus {
		background: darken($cahoots-color,10%);
		border-top: 0;
		border: 1px solid darken($cahoots-color,5%);
    }
}

.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(245,50,98,0.92);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 25px 0;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
	@include border-radius($bigger-radius);
	@include box-shadow(0 0 40px rgba(0,0,0,0.4));
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); transform: scale3d(0.9, 0.9, 1); }
}